* {
    margin: 0;
    padding: 0;
}

.game-name {
    color: white;
}
body {
    background-color: #0b132b;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    background-color: #1c2541;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #ffffff;
}

.reset-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: #1c2541; 
    color: #6fffe9;           
    border: 2px solid #6fffe9; 
    border-radius: 50px;       
    cursor: pointer;
    margin-top: 2rem;         
    transition: 0.3s ease;   
}

#reset-btn:hover {
    background-color: #6fffe9;
    color: #0b132b;
    box-shadow: 0 0 15px #6fffe9; 
}